#main_wrapper{
	width: 960px;
	margin: auto;
}
.screen{
	display: none;
}

.center{
	text-align: center;
	}



/* Pick Goals Screen */


#pick_screen_goals_module{
        width: 570px;
        /*background-color: #bbbbff;*/
        margin: auto;
        margin-top: 30px;
}

#pick_screen_goals_module .footer{
	margin-top: 30px;
}

/* ul */
#pick_screen_goals_holder{
	padding: 10px;
	/*margin-bottom: 10px;*/
	font-size: 14pt;
	color: #666;
	list-style-type: none;
	text-align: left;
	/*background-color: #ccccff;*/
	margin-left: 5px;
	margin-right: 5px;
}

/* li */
.goal_pickScreen{
	margin-bottom: 10px;    
}

.goal_pickScreen:last-child{
	margin-bottom: 0px;
}

.pick_screen.goal input{
	float: left;
	margin-right: 5px;
	display: inline-block;
}
.pick_screen.goal .title{
	display:inline-block;

}

.pick_screen.goal .title.selected{
	color: black;
}

.pick_screen.goal .controls{
	font-size: 10pt;
	display:inline-block;
	margin-left: 20px;
}
